@font-face {
    font-family: 'Billyana';
    src: url('../font/BillyanaPersonalUseOnly.ttf');
}

@font-face {
    font-family: 'Epilogue';
    src: url('../font/Epilogue-Medium.ttf');
}

body{
	background-color: white;
	color: black;
}

.navbar-toggler{
	width: 47px;
    height: 34px;
}

.navbar-toggler .navbar-toggler-icon{
	width: 100%;
    float: left;
    height: 2px;
	background-color: white;
	margin-bottom: 5px;
}


.title  {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	font-family: Billyana;
}

.nav-link {
	font-family: Epilogue;
	font-size: 18px;
}

h1 {
    text-align: center;
    font-family: Billyana;
    font-size: 50px;
    color: #616161;
}

.fa-instagram{
	color: #E1306C;
}

.row-content {
  margin: 0px auto;
  padding: 50px 0px;
  border-bottom: 1px ridge;
  min-height: 400px; 
}

.wrapper {
    display: grid;
    height: 90vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr .7fr 1fr;
    grid-template-areas: 
        "box1 box2 box3 box3"
        "box4 box4 box3 box3"
        "box4 box4 box5 box6";
    grid-gap: 0.6rem;
    text-align: center;
    padding: 50px 0px 50px 0px;
}

.inner {
    overflow: hidden;
    position: relative;
}

img{
    transition: all linear 0.6s;
    object-fit: cover;
    height: 100%;
    width: 100%;
}

img.hover-img {
    position : absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.inner:hover img {
  object-fit: cover;
  opacity: 0;
}

.inner:hover img.hover-img {
    opacity: 1;

}

#box1 {
    background: #6FFFD2;
    grid-area: box1;
}

#box2 {
    background: #1DE9B6;
    grid-area: box2;
}

#box3 {
    background: #18FFFF;
    grid-area: box3;
}

#box4 {
    background: #18FFFF;
    grid-area: box4;
}

#box5 {
    background: #6FFFD2;
    grid-area: box5;
}

#box6 {
    background: #1DE9B6;
    grid-area: box6;
}

@media only screen and (max-width: 992px){
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1.5fr 1.7fr 1.7fr 1.5fr;
        grid-template-areas: 
            "box1 box2"
            "box3 box3"
            "box4 box4"
            "box5 box6";
    }
}

footer{
    display: flex;
	background-color: black;
	color: white;
}

.bg-dark{
    background: transparent !important;
    transition: 0.2s ease-out;
}

.bg-black{
    background: #000;
    transition: 0.5s ease-in;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/images/bg-masthead.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
}

