body{
	background-color: skyblue;
	color: white;
}

nav{
	background-color: black;
}

.navbar-toggler{
	width: 47px;
    height: 34px;
}

.navbar-toggler .navbar-toggler-icon{
	width: 100%;
    float: left;
    height: 2px;
	background-color: white;
	margin-bottom: 5px;
}