@font-face {
    font-family: 'Billyana';
    src: url('./font/BillyanaPersonalUseOnly.ttf');
}

@font-face {
    font-family: 'Epilogue';
    src: url('./font/Epilogue-Medium.ttf');
}


body{
	background-color: white;
	color: black;
}

.navbar-toggler{
	width: 47px;
    height: 34px;
}

.navbar-toggler .navbar-toggler-icon{
	width: 100%;
    float: left;
    height: 2px;
	background-color: white;
	margin-bottom: 5px;
}

header {
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url('./assets/images/bg-masthead.jpg');
	height: 100vh;
	background-size: cover;
	background-position: center;
}


.title  {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	font-family: Billyana;
}

.nav-link {
	font-family: Epilogue;
	font-size: 18px;
}

.fa-instagram{
	color: #E1306C;
}


h2 {
	text-align: center;
}

.grid-layout {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: minmax(220px, auto);
    grid-auto-flow: dense;
    padding: 10px;
}

.grid-item {
    padding: 1rem;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #929796;
    background-color: #333;
    border-radius: 5px;
    &:nth-child(odd) {
        background-color: #424242;
    }
}

.span-2 {
    grid-column-end: span 2;
    grid-row-end: span 1;
}

.grid-item-1 {
	background: url(assets/images/div1.png) 0px 0px/240px 220px;
}

footer{

	background-color: black;
	color: white;
}

.bg-dark{
    background: transparent !important;
    transition: 0.2s ease-out;
}

.bg-black{
    background: #000;
    transition: 0.5s ease-in;
}

.ftr{
	display: flex;
}